@import url('https://fonts.googleapis.com/css?family=Poppins:400,600');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #161513;
  color: #c5c5c5;
}

a {
  text-decoration: none;
}

header {
  background-color: #222;
  position: fixed;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.logo {
  font-family: 'Poppins';
  font-size: x-large;
  padding: 30px 20px;
  line-height: 1;
  color: #fff;
}

.navbar {
  display: flex;
}

.navbar div {
  padding: 30px 20px;
}

.navbar a {
  position: relative;
  color: #ffffff
}

.navbar a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  border-radius: 4px;
  background-color: #ffffff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.navbar a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 80px 20px;
}

.avatar img {
  width: 251px;
  height: 251px;
  border-radius: 50%;
}

.about {
  text-align: center;
  padding-top: 150px;
}

.about-text {
  width: 100%;
  margin: 30px auto;
}

.about-text h1 {
  font-size: 55px;
  line-height: 1;
  color: #fff;
  padding-bottom: 50px;
}

.about-text h1 > span {
  background: var(
    --Primary-Gradient,
    linear-gradient(116deg, #ff8660 71.79%, #9a33ff 95.51%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-with {
  text-align: center;
  padding-bottom: 100px;
}

.experience-with h2 {
  font-size: 20px;
}

.experience-with-lang {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 600px;
  margin: 50px auto;
  gap: 75px;
}

.experience-with-lang img {
  width: 42px;
  cursor: pointer;
}

.primary-heading {
  text-align: center;
  font-size: 35px;
}

.heading-project {
  background: var(
    --Orange-Gradient,
    linear-gradient(180deg, #ff8660 0%, #d5491d 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 35px;
  margin-top: 10px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0;
}

.project-item {
  background: #2a2a2a;
  margin: 20px;
  border-radius: 18px 18px 0 0;
}

.project-item img {
  width: 100%;
  border-radius: 18px 18px 0 0;
}

.project-title {
  padding: 15px;
}

.project-title h3 {
  color: #fff;
}

.heading-experience {
  background: var(
    --Blue-Gradient,
    linear-gradient(180deg, #5badff 0%, #1373d1 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.experience-item {
  padding: 30px 0;
}

.experience-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.experience-title-container .date {
  margin-left: auto;
}

.experience-title {
  color: #fff;
  font-size: 22px;
  font-weight: bold;
  margin-left: 10px;
}

footer {
  background-color: #191919;
}

footer h2 {
  color: #fff;
  font-size: 24px;
  margin-bottom: 20px;
}

footer p {
  font-size: 15px;
}

.email-container {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.email-container img {
  margin-right: 10px;
}

.social-links {
  display: flex;
  margin-top: 40px;
}

.social-links img {
  margin-right: 20px;
}

.resume-button {
  color: #ffffff !important;
  text-transform: uppercase;
  padding: 20px;
  border: 4px solid #ffffff !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
}

.resume-button:hover {
  color: #808080 !important;
  border-radius: 50px;
  border-color: #808080 !important;
  transition: all 0.3s ease 0s;
}

.shadow img {
    transition: .5s ease;
}
    
.shadow img:hover{
  box-shadow:
  1px 1px #bebebe,
  2px 2px #bebebe,
  3px 3px #bebebe,
  4px 4px #bebebe,
  5px 5px #bebebe,
  6px 6px #bebebe;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
  transition: .5s ease;
}

.projects__grid {
  padding-top: 100px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.project {
  padding: 2em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  max-width: 350px;
  transition: transform 0.2s linear;
}

.project:hover {
  transform: translateY(-7px);
}

.project__description {
  margin-top: 1em;
}

.project__stack {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1.2em 0;
}

.project__stack-item {
  margin: 0.5em;
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--clr-fg-alt);
}

.project .link--icon {
  margin-left: 0.5em;
}

ul {
  list-style: none;
}

@media (max-width:800px) {
  .navbar {
    display: none;
  }

  .avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .about-text h1 {
    font-size: 46px;
    line-height: 1;
    color: #fff;
    padding-bottom: 50px;
  }
}